body{
	margin: 0;
}
.AniReco {
	padding-left: 3%;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 50px;
	color: white;
	text-decoration: none;
}

.flex {
	background: rgb(180,110,166);
	padding-bottom: 10px;
}	
.Username {
	margin-left:10%;
	background: white;
	padding: 10px;
	padding-right: 25px;
	padding-left: 25px;
	border-radius: 40px;
	vertical-align: text-bottom;
	color: rgb(52,52,52);
	text-decoration: none;
	font-size: 22px;
	font-family: 'Libre Franklin', sans-serif;
}
.input-search {
	margin-left:10%;
	width: 50%;
	padding: 10px;
	border-radius: 40px;
	background-image: url(Imagem_49.png);
	background-position: right;
	background-repeat: no-repeat;
	vertical-align: text-bottom;
}
.Re-Zero {
	padding: 10px;
	vertical-align: text-bottom;
}
.container-genres {
	position:relative;
	background: rgb(52,52,52);
	padding: 10px 0px 50px 0px;
}
.container-action {
	padding: 10px 10px 10px 50px;
}
.container-action-animes {
	overflow: auto;
	max-width: 98%;
	white-space: nowrap;
}
.container-romance {
	padding: 10px 10px 10px 50px;
}
.container-romance-animes {
	overflow: auto;
	max-width: 98%;
	white-space: nowrap;
}
.container-adventure {
	padding: 10px 10px 10px 50px;
}
.container-adventure-animes {
	overflow: auto;
	max-width: 98%;
	white-space: nowrap;
}
.container-sports {
	padding: 10px 10px 10px 50px;
}
.container-sports-animes {
	overflow: auto;
	max-width: 98%;
	white-space: nowrap;
}
.container-horror {
	padding: 10px 10px 10px 50px;
}
.container-horror-animes {
	overflow: auto;
	max-width: 98%;
	white-space: nowrap;
}
.imagem{
	padding-left: 5px;
	padding-right: 5px;
}
h2 {
	color:white;
	font-family: 'Libre Franklin', sans-serif;
	font-size: 28px;
}
.footer {
	position: relative;
	background: rgb(180,110,166);
	padding: 50px;
}